<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                zhouhuasheng Admin &copy; 2018 - telnet
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="#">关于我们</a>
                    <a href="#">帮助</a>
                    <a href="#">联系我们</a>
                </div>
            </div>
        </div>
    </div>
</footer>