<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Mosheng" name="author" />


    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- plugins css-->
    <link href="../css/vendor/switchery.min.css" rel="stylesheet" type="text/css" />
    <!-- third party css -->

    <!-- third party css end -->
</head>

<body>
<div th:include="common/menu"></div>


<div class="wrapper">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">系统设置</a></li>
                            <li class="breadcrumb-item active">用户管理</li>
                        </ol>
                    </div>
                    <h4 class="page-title">用户管理</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary mb-2" onclick="showadd()"> <i class="mdi mdi-account-plus mr-1"></i> 新增用户</button>
                      <!--  <form>
                            用户名:<input type="text" name="username" placeholder="请输入用户名" >
                            手机号码:<input type="text" name="username" placeholder="请输入用户名" >
                            真实姓名: <input type="text" name="username" placeholder="请输入用户名" >
                        </form>-->
                       <!-- <h4 class="header-title">查询</h4>-->
                        <table class="table table-hover mb-0" id="table-zhs">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>手机号码</th>
                                <th>身份证</th>
                                <th>真实姓名</th>
                                <th>性别</th>
                                <th>邮箱</th>
                                <th>地址</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div> <!-- end card-body -->
                </div>
            </div> <!-- end col -->
        </div>
    </div> <!-- end card -->
</div><!-- end col-->
</div>
</div> <!-- end container -->
</div>
<form id="form" method="post">
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">修改用户</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <label for="username">用户名</label>
                <input class="form-control"  id="username" required name="username" placeholder="输入你的用户名">
                <label for="password">密码</label>
                <input class="form-control"  id="password" required name="password" placeholder="输入你的密码">
                <label for="phone">手机号码</label>
                <input class="form-control" id="phone" required name="phone" placeholder="输入你的手机号">
                <label for="idcard">身份证号</label>
                <input class="form-control" id="idcard" required name="idcard" placeholder="输入你的身份证号">
                <label for="realname">真实姓名</label>
                <input class="form-control"  id="realname" required name="realname" readonly="readonly">
                <label for="sex">性别</label>
                <input class="form-control"  id="sex" required name="sex" readonly="readonly">
                <label for="email">邮箱</label>
                <input class="form-control"  id="email" required name="email" readonly="readonly">
                <label for="address">地址</label>
                <input class="form-control"  id="address" required name="address" readonly="readonly">
                <input type="hidden" id="uid" name="id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" id="close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="update()">保存更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
<form id="form1" method="post">
    <div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">新增用户</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <label for="username">用户名</label><span style="color: red" id="waring1"></span>
                    <input class="form-control"  id="username1" required name="username" placeholder="输入你的用户名">
                    <label for="password">密码</label><span  style="color: red" id="waring2"></span>
                    <input class="form-control"  id="password1" required name="password" placeholder="输入你的密码">
                    <label for="phone">手机号码</label><span  style="color: red" id="waring3"></span>
                    <input class="form-control" id="phone1" required name="phone" placeholder="输入你的手机号">
                    <label for="idcard">身份证号</label><span  style="color: red"id="waring4"></span>
                    <input class="form-control" id="idcard1" required name="idcard" placeholder="输入你的身份证号">
                    <label for="realname">真实姓名</label><span  style="color: red" id="waring5"></span>
                    <input class="form-control"  id="realname1" required name="realname"  placeholder="输入你的真实姓名">
                    <label for="sex">性别</label>
                    <input class="form-control"  id="sex1" required name="sex"  placeholder="输选择你的性别">
                    <label for="email">邮箱</label>
                    <input class="form-control"  id="email1" required name="email"  placeholder="输入你的邮箱地址">
                    <label for="address">地址</label>
                    <input class="form-control"  id="address1" required name="address"  placeholder="输入你的地址">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" id="close1" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="adduser()">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
<button type="button" id="update1" style="display: none" data-toggle="modal" data-target="#myModal"></button>
<button type="button" id="update2" style="display: none" data-toggle="modal" data-target="#myModal1"></button>
<div th:include="common/footer"></div>
<script>
    $.ajax({
        //几个参数需1要注意一下
        type: "GET",//方法类型
        async: false,
        dataType: "json",//预期服务器返回的数据类型
        url: "/user/getAllUsers",//url
        success: function (rt) {
            var data=rt.data.list;
            for(var i=0;i<data.length;i++){
                var html="";
                var up="";
                var icon="";
                var flag="";
                var tt=0;
                if(data[i].enable==1){
                    icon='fe-check-square'
                    data[i].enable="失效";
                    up="恢复";
                    flag="none";
                    tt=1;
                }else{
                    data[i].enable="有效";
                    icon="fe-x"
                    up="删除";
                    flag="block";
                }
                if(data[i].sex==1){
                    data[i].sex="男";
                }else{
                    data[i].sex="女";
                }
                html+="<tr> <td scope=‘row’>"+(i+1)+"</td><td>"+data[i].username+"</td>" +
                    "<td>"+data[i].password+"</td><td>"+data[i].phone+"</td><td>"+data[i].idcard+"</td>" +
                    "<td>"+data[i].realname+"</td><td>"+data[i].sex+"</td><td>"+data[i].email+"</td>" +
                    "<td>"+data[i].address+"</td><td>"+data[i].createtime+"</td><td>"+data[i].updatetime+"</td>" +
                     "<td>"+ data[i].enable+"</td>" +
                    "<td> <div class='btn-group dropdown'><a href='javascript: void(0);' class='dropdown-toggle arrow-none btn btn-light btn-sm' data-toggle='dropdown' aria-expanded='false'>" +
                    "<i class='mdi mdi-dots-horizontal'></i></a>" +
                    "<div class='dropdown-menu dropdown-menu-right'>" +
                    "<a class='dropdown-item' href='#'  style='display: "+flag+"' onclick='updateuser("+data[i].id+")'><i class='mdi mdi-pencil mr-1 text-muted'></i>编辑</a>" +
                    "<a class='dropdown-item' href='#' onclick='deleteuser("+data[i].id+","+tt+")'><i class='"+icon+" mr-1 text-muted'></i>"+up+"</a>" +
                    "</div></div>" +
                    "</tr>"
                $("#table-zhs").append(html);
                if(data[i].enable==0){
                    var da="d"+i;
                    $("#"+da).attr("checked",true);
                }
            }
        }
    });

    //获取数据
    function updateuser(id) {
        $.ajax({
            //几个参数需1要注意一下
            type: "GET",//方法类型
            async: false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/user/getUser",//url
            data: {
                id: id
            },
            success: function (rt) {
                $("#update1").click();
                var data=rt.data;
                console.log(rt);
                if (rt.code == 200) {
                    $("#username").val(data.username);
                    $("#password").val(data.password);
                    $("#phone").val(data.phone);
                    $("#idcard").val(data.idcard);
                    $("#realname").val(data.realname);
                    $("#sex").val(data.sex);
                    $("#email").val(data.email);
                    $("#address").val(data.address);

                    $("#uid").val(data.id);
                } else {
                    alert("网络错误");
                }
            }
        });

    }
    //修改
    function update() {
        var username=  $("#username").val();
        var password= $("#password").val();
        var phone =$("#phone").val();
        var idcard =$("#idcard").val();
        if(username==""||username==null){
            alert("用户名不为空");
            return false;
        }
        if(password==""||password==null){
            alert("密码不为空");
            return false;
        } if(phone==""||phone==null){
            alert("手机号码不为空");
            return false;
        } if(idcard==""||idcard==null){
            alert("身份证不为空");
            return false;
        }
        $.ajax({
            //几个参数需1要注意一下
            type: "POST",//方法类型
            async: false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/user/update",//url
            data:$('#form').serialize(),
            success: function (rt) {
                var data=rt.data;
                console.log(rt);
               if (rt.code == 200) {
                   alert("修改成功");
                   $("#close").click();
                   location.reload();
                } else {
                    alert(rt.message);

                }
            }
        });
    }
    function deleteuser(id,flag) {
        var url="";
        if(flag==0){
            //恢复
            url="/user/del";
        }else{

            url="/user/huifu";
        }
        $.ajax({
            //几个参数需1要注意一下
            type: "POST",//方法类型
            async: false,
            dataType: "json",//预期服务器返回的数据类型
            url: url,//url
            data: {
                id: id
            },
            success: function (rt) {
                console.log(rt);
                if (rt.code == 200) {
                    alert(rt.data);
                    location.reload();
                }else{
                    alert("网络错误");
                }
            }
        });
    }
    function showadd() {
        $("#update2").click();
    }
    function adduser() {
        var username=  $("#username1").val();
        var password= $("#password1").val();
        var phone =$("#phone1").val();
        var idcard =$("#idcard1").val();
        var realname =$("#realname1").val();
        if(username==""||username==null){
            $("#waring1").html("用户名不能为空")
            return false;
        }
        if(password==""||password==null){
            $("#waring2").html("密码不能为空")
            return false;
        } if(phone==""||phone==null){
            $("#waring3").html("手机不能为空")
            return false;
        } if(idcard==""||idcard==null){
            $("#waring4").html("身份证不能为空")
            return false;
        }if(realname==""||realname==null){
            $("#waring5").html("真实姓名不能为空")
            return false;
        }
        $.ajax({
            //几个参数需1要注意一下
            type: "POST",//方法类型
            async: false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/user/add",//url
            data:$('#form1').serialize(),
            success: function (rt) {
                console.log(rt);
                if (rt.code == 200) {

                    alert("添加成功");
                    location.reload();
                }else{
                    alert(rt.message);
                }
            }
        });
    }
</script>
<!-- -->
<!-- App js -->
<script src="../js/vendor.min.js"></script>
<script src="../js/app.min.js"></script>
<script src="../js/vendor/switchery.min.js"></script>
<script src="../js/vendor/bootstrap-maxlength.min.js"></script>
<script src="../js/pages/form-advanced.init.js"></script>

</body>
</html>
