<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>账号管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- plugins css-->
    <link href="../css/vendor/switchery.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div th:include="common/menu"></div>
<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">系统设置</a></li>
                            <li class="breadcrumb-item active">角色管理</li>
                        </ol>
                    </div>
                    <h4 class="page-title">角色管理</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="header-title">查询</h4>-->
                        <table class="table table-hover mb-0" id="table-zhs">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>网址</th>
                                <th>网站</th>
                                <th>登录账户</th>
                                <th>昵称</th>
                                <th>注册手机号</th>
                                <th>密码</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>所属者</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <p>共<span id="total"></span>条数据,共<span id="page"></span>页,当前页是第<span id="current"></span>页
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end" id="pagesize">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">上一页</a>
                                    </li>
                                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">下一页</a>
                                    </li>
                                </ul>
                            </nav>


                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>

                    </div> <!-- end card-body -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">模态标题</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h6>模态中的文本</h6>
                <p>这里其实是一个P标签</p>
                <hr>
                <h6>溢出文本以显示滚动行为</h6>
                <p>这里其实也是一个P标签</p>
                <p>这里还是一个P标签</p>
                <p>emmm  还是一个P标签</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<button type="button" id="update1" style="display: none" data-toggle="modal" data-target="#myModal"></button>

<div th:include="common/footer"></div>
<script>
    var page="1";
    var pagesize="10";
    getdata(page,pagesize);

    function getdata(page,pagesize){
        $.ajax({
            //几个参数需要注意一下
            type: "GET",//方法类型
            async: false,
            dataType: "json",//预期服务器返回的数据类型
            data:{
                currentPage: page,
                pageSize:pagesize
            },
            url: "/account/list" ,//url
            success: function (rt) {
                var html="";
                var data=rt.data.list;
                console.log(rt.data)
                if(rt.code==200){
                    for(var i=0;i<data.length;i++){
                        html+="<tr><td scope=‘row’>"+(i+1)+"</td><td>"+data[i].website+"</td><td>"+data[i].webname+"</td><td>"+data[i].username+"</td><td>"+data[i].nickname+"</td>" +
                            "<td>"+data[i].phone+"</td><td>"+data[i].password+"</td><td>"+data[i].createtime+"</td><td>"+data[i].updatetime+"</td><td>"+data[i].ext1+"</td>"+
                            "<td> <div class='btn-group dropdown'><a href='javascript: void(0);' class='dropdown-toggle arrow-none btn btn-light btn-sm' data-toggle='dropdown' aria-expanded='false'>"+
                            "<i class='mdi mdi-dots-horizontal'></i></a>"+          /* <button type='button'  data-toggle='modal' data-target='myModal'></button> */
                            "<div class='dropdown-menu dropdown-menu-right'>"+  /* onclick='updateaccount("+data[i].id+")'*/
                            "<a class='dropdown-item' href='#'  onclick='updateaccount("+data[i].id+")'><i class='mdi mdi-pencil mr-1 text-muted'></i>编辑</a>" +
                            "<a class='dropdown-item' href='#' onclick='deleteaccount("+data[i].id+")'><i class='fe-x mr-1 text-muted'></i>删除</a>" +
                            "</div></div></td>"
                    }
                    $("#table-zhs").append(html);
                    $("#total").html(rt.data.total);
                    $("#page").html(rt.data.pages);
                    $("#current").html(rt.data.pageNum);

            /*    <li class="page-item"><a class="page-link" href="#">1</a></li>*/
                }
            }
        });

    }

    function updateaccount(id) {
        $("#update1").click();
    }
</script>
<script src="../js/vendor.min.js"></script>
<script src="../js/app.min.js"></script>
<script src="../js/vendor/switchery.min.js"></script>
<script src="../js/vendor/bootstrap-maxlength.min.js"></script>
<script src="../js/pages/form-advanced.init.js"></script>
<!-- App js -->
<script src="../js/vendor/sweetalert2.min.js"></script>
<script src="../js/pages/sweet-alerts.init.js"></script>

</body>
</html>
