<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">



    <title>主页</title>



</head>

<div  shiro:hasPermission="sys:sys">系统设置</div>
<div  shiro:hasPermission="sys:user">用户管理</div>
<div  shiro:hasPermission="sys:role">角色管理</div>
<div  shiro:hasPermission="sys:per">资源管理</div>
<div  shiro:hasPermission="user:add">添加用户</div>
<div  shiro:hasPermission="user:del">删除用户</div>
<div  shiro:hasPermission="role:add">添加角色</div>
<div  shiro:hasPermission="role:del">删除角色</div>
<div  shiro:hasPermission="per:add">添加资源</div>
<div  shiro:hasPermission="per:del">删除资源</div>
<div  shiro:hasPermission="per:role">分配角色</div>
<div  shiro:hasPermission="per:per">分配权限</div>
<div  shiro:hasPermission="sys:ind">首页</div>
<div  shiro:hasPermission="self:acc">账号管理</div>
<div shiro:hasPermission="user:role">查看角色</div>
<a href="/user/getRole?id=1">查看角色</a>




<body>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js?v=3.4.0"></script>
</body>

</html>