<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="renderer" content="webkit"/>

	<title>素材火www.sucaihuo.com - 登录</title>


</head>

<body>
<font color="red"></font>
        <form th:action="@{/login}" method="post" class="m-t" id="form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="用户名" required="" name="username" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="密码" required="" name="password" />
			</div>

			<input type="button" value="登录" onclick="login()">
			</p>
		</form>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/zhs/ase.js"></script>
<script type="text/javascript">
    function login() {


        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/login" ,//url
            data: $('#form').serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    window.location.href="/index";
                }

            },
            error : function() {
                alert("异常！");
            }
        });
    }
</script>
</body>

</html>
