<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhs.mapper.TelnetUserMapper" >
  <resultMap id="BaseResultMap" type="com.zhs.pojo.TelnetUser" >
    <id column="id_" property="id" jdbcType="BIGINT" />
    <result column="username_" property="username" jdbcType="VARCHAR" />
    <result column="password_" property="password" jdbcType="CHAR" />
    <result column="realname_" property="realname" jdbcType="VARCHAR" />
    <result column="gender_" property="gender" jdbcType="INTEGER" />
    <result column="mobile_" property="mobile" jdbcType="VARCHAR" />
    <result column="status_" property="status" jdbcType="INTEGER" />
    <result column="created_time_" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time_" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id_, username_, password_, realname_, gender_, mobile_, status_, created_time_, updated_time_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from telnet_user
    where id_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from telnet_user
    where id_ = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhs.pojo.TelnetUser" >
    insert into telnet_user (id_, username_, password_, 
      realname_, gender_, mobile_, 
      status_, created_time_, updated_time_
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, 
      #{realname,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhs.pojo.TelnetUser" >
    insert into telnet_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id_,
      </if>
      <if test="username != null" >
        username_,
      </if>
      <if test="password != null" >
        password_,
      </if>
      <if test="realname != null" >
        realname_,
      </if>
      <if test="gender != null" >
        gender_,
      </if>
      <if test="mobile != null" >
        mobile_,
      </if>
      <if test="status != null" >
        status_,
      </if>
      <if test="createdTime != null" >
        created_time_,
      </if>
      <if test="updatedTime != null" >
        updated_time_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhs.pojo.TelnetUser" >
    update telnet_user
    <set >
      <if test="username != null" >
        username_ = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password_ = #{password,jdbcType=CHAR},
      </if>
      <if test="realname != null" >
        realname_ = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender_ = #{gender,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile_ = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status_ = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time_ = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time_ = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_ = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhs.pojo.TelnetUser" >
    update telnet_user
    set username_ = #{username,jdbcType=VARCHAR},
      password_ = #{password,jdbcType=CHAR},
      realname_ = #{realname,jdbcType=VARCHAR},
      gender_ = #{gender,jdbcType=INTEGER},
      mobile_ = #{mobile,jdbcType=VARCHAR},
      status_ = #{status,jdbcType=INTEGER},
      created_time_ = #{createdTime,jdbcType=TIMESTAMP},
      updated_time_ = #{updatedTime,jdbcType=TIMESTAMP}
    where id_ = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="sysUserResultMap" type="com.zhs.pojo.TelnetUser">
    <id column="id_" jdbcType="BIGINT" property="id"/>
    <result column="username_" jdbcType="VARCHAR" property="username"/>
    <result column="password_" jdbcType="CHAR" property="password"/>
    <result column="realname_" jdbcType="VARCHAR" property="realname"/>
    <result column="status_" jdbcType="INTEGER" property="status" />
    <result column="created_time_" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="updated_time_" jdbcType="TIME" property="updatedTime"/>
    <collection property="roleList" resultMap="sysRoleResultMap"/>
    <collection property="permissionList" resultMap="sysPermissionResultMap"/>
  </resultMap>

  <resultMap id="sysRoleResultMap" type="com.zhs.pojo.TelnetRole">
    <id column="role_id_" jdbcType="BIGINT" property="id"/>
    <result column="role_name_" jdbcType="VARCHAR" property="name"/>
    <result column="role_desc_" jdbcType="VARCHAR" property="desc"/>
  </resultMap>


  <resultMap id="sysPermissionResultMap" type="com.zhs.pojo.TelnetPermission">
    <id column="p_id_" jdbcType="BIGINT" property="id"/>
    <result column="p_name_" jdbcType="VARCHAR" property="name"/>
    <result column="p_type_" jdbcType="VARCHAR" property="type"/>
    <result column="p_path_" jdbcType="VARCHAR" property="path"/>
    <result column="p_parent_id_" jdbcType="BIGINT" property="parentId"/>
    <result column="p_permission_" jdbcType="VARCHAR" property="permission"/>
  </resultMap>
  <!-- 根据用户名查找用户的信息-->
  <select id="selectUserByUserName" resultMap="sysUserResultMap">
   select su.id_ as id_, su.username_ as username_, su.realname_ as realname_, su.password_ as password_, su.status_ as status_,
      sr.id_ as role_id_, sr.name_ as role_name_, sr.desc_ as role_desc_,
      sp.id_ as p_id_, sp.name_ as p_name_, sp.type_ as p_type_, sp.path_ p_path_, sp.permission_ p_permission_, sp.parent_id_ p_parent_id_
      from telnet_user su left join
      telnet_user_role sur on su.id_= sur.user_id_
      left join telnet_role sr on sur.role_id_ = sr.id_
      left join telnet_role_permission srp on srp.role_id_ = sr.id_
      left join telnet_permission sp on sp.id_ = srp.permission_id_
      where sur.status_ = 1 and srp.status_ = 1 and sr.status_ = 1 and su.username_ = #{username}
    </select>

</mapper>