<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhs.mapper.TelnetRoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.zhs.pojo.TelnetRoleResource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="resourceid" property="resourceid" jdbcType="INTEGER" />
  </resultMap>

</mapper>