<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhs.mapper.TelnetRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zhs.pojo.TelnetRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="disabled" property="disabled" jdbcType="INTEGER" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryRoleListWithSelected" parameterType="int" resultType="com.zhs.pojo.TelnetRole">
    SELECT r.id,r.name,r.description,
    (CASE WHEN (SELECT ur.rid FROM telnet_user_role ur WHERE ur.uid= #{id} AND ur.rid = r.id) THEN 1 ELSE 0 END) AS selected
    FROM telnet_role r
  </select>
</mapper>